{% extends 'contents/parent.html' %}
{% block content %}
{% load static %}
<style>
  .container_home{
    height: 650px;
    background-color: #F7D276;
    
}
</style>
<div class="slideshow position-relative d-flex  ">
  <!-- <img src="fond_slider.png" name="slide" alt=""> -->
    <div class="text_slider col-12 text-left p-5 m-5">
      <p id="find_it" class=" text-center  mx-5 my-5">
          find-IT 
      </p>
      <p class=" item-1 slogan mx-5 my-5">
          Trouver votre it-worker<br>
      
      </p> 
      <p class="item-2 slogan mx-5 my-5">
          Trouver une mission
      </p>
      <p class="item-3 slogan mx-5 my-5">
          Tout le monde gagne

      </p>
    <div class="col-3 my-5 p-5 mx-auto">
      <a href="{% url 'Formregistre' %}">
        <button class="btn  btn-success btn-small rounded-2">Inscrivez-vous </button>
      </a>
   </div>
  </div>
</div>    


</div>

    <div class="container-fluid col-12 d-flex justify-content-between flex-row p-5">

      <!--    c'est petit carre arrondit la c'est ca-->
      <div class="container-fluid col-8 mx-auto  d-flex flex-column">
          <main class="main border-0 d-flex flex-column col-12 module p-3" style="box-shadow: none">
              <!--           LES POST SONT GERER LA PAR LA DIV#post-->
              
              
                {% for mission in missions  %} 

               <div class="col-12 m-2 bg-white p-3 mx-auto shadow-1-soft border d-flex flex-row rounded-6 border-1"
                  id="post">
                  
                  <div class=" rounded-6 col-2 " id="logo-post">
                      <img  id="logo"
                      class="rounded-circle article-img" src="media/{{ mission.logo }}" style="max-height:74px"/>
                  </div>
                  <div class=" col-10  d-flex flex-column m-1" id="content-post">
                      <div class="col-12 w-100">
                          <h1 class=" border-black  border-bottom h1 py-2" id="intitule_mission">
                            {{ mission.intituler}}</h1>
                      </div>

                      <div class=" text-center  mx-auto w-100 col-12 " id="infos_mission">
                          <span class="col-3   prix "> <span
                                  id="caution">Caution :</span>  {{ mission.fourcette_prix }} </span>
                          <span class="col-3 date "> Du <span class="bg date" id="date_debut"> {{ mission.date_debut|date:"F d, Y" }}</span> au <span
                                  class="date text-danger" id="date_fin"> {{ mission.date_fin|date:"F d, Y" }}</span> </span>
                      </div>
                      <div></div>
                      <div class=" text-justify col-12  " id="description_mission">
                          <p class="description p-2" id="description ">
                            {{ mission.description | truncatechars:300}}
                          </p>

                      </div>
                      <div class="col-6 mx-auto">
                          <button class="btn btn-rounded btn-sm btn-dark" style="font-size: 11px !important;">Postuler
                          </button>
                      </div>
                  </div>
              </div>
            {% endfor %}
          </main>
     
      
    
       
    </div>
</div>
{% endblock%}
