{% extends "contents/parent.html" %}
{% block content%}
<div class="container">
<div class="col-12 m-2 bg-white p-3 mx-auto shadow-1-soft border d-flex flex-row rounded-6 border-1"
id="post">
<div class=" rounded-6 col-2 " id="logo-post">
   <img class=" rounded border border-black p-2 mx-auto my-2" id="logo"
        src="media/{{ mission.logo }}"/>
</div>
<div class=" col-10  d-flex flex-column m-1" id="content-post">
   <div class="col-12 w-100">
       <h1 class=" border-black  border-bottom h1 py-2" id="intitule_mission">
           {{ mission.intituler}}
       </h1>
       <h1 class=" border-black  border-bottom h1 py-2"></div>

   <div class=" text-center  mx-auto w-100 col-12 " id="infos_mission">
       <span class="col-3   prix "> <span
               id="caution">Caution :</span> {{mission.fourcette_prix}} fcfa </span>
       <span class="col-3 date "> Du <span class="bg date" id="date_debut">{{mission.date_debut|date:"F d, Y" }}</span> au <span
               class="date text-danger" id="date_fin">{{mission.date_fin|date:"F d, Y" }}</span> </span>
   </div>
   <div></div>
   <div class=" text-justify col-12  " id="description_mission">
       <p class="description p-2" id="description ">
          {{mission.description | truncatechars:300}}  </p>

   </div>
 
   {% for post in posts %}
     <div class="container">
    <div class="row"> <div class="col-2"></div>
   <div class="col-8 m-2 bg-white p-3 mx-auto shadow-1-soft border d-flex flex-row rounded-6 border-1"
  id="post">
<div class=" rounded-6 col-2 " id="logo-post">
   <img class=" rounded border border-black p-2 mx-auto my-2" id="logo"
        src="media/{{ post.logo }}"/>
</div>
<div class=" col-10  d-flex flex-column m-1" id="content-post">
   <div class="col-12 w-100">
       <h1 class=" border-black  border-bottom h1 py-2" id="intitule_mission">
           {{ mission.intituler}}nom
       </h1>
       <h1 class=" border-black  border-bottom h1 py-2">

       </div>

   <div class=" text-center  mx-auto w-100 col-12 " id="infos_mission">
       <span class="col-3   prix "> <span
               id="caution">Prix propose :</span> {{post.prix}} fcfa </span>
      </span>
   </div>
   <div></div>
   <div class=" text-justify col-12  " id="description_mission">
       <p class="description p-2" id="description ">
          {{post.description}}  </p>
</div>
</div>
</div>
<div class="col-4"></div> 
</div>
</div>
{% endfor %}
</div>
</div>
</div>

{% endblock%}