{% extends 'contents/ep-content.html' %}
{% block content-ep %}
{% load static %}

  <!--           LES POST SONT GERER LA PAR LA DIV#post-->
            
            {% for mission in missions %}
              
        
            <div class="col-12 m-2 bg-white p-3 mx-auto shadow-1-soft border d-flex flex-row rounded-6 border-1"
                 id="post">
              
                     {% if mission.logo %}
                        <div class=" rounded-6 col-2 " id="logo-post">

                            <img class="rounded-circle article-img" src="{{ mission.logo }}" style="max-height:74px" id="logo"
                            />
                        </div>
                     {% else %}
                        <div class=" rounded-6 col-2 " id="logo-post">

                            <img class=" rounded border border-black p-2 mx-auto my-2" id="logo"
                            src="{% static 'image/icons8-computer-60%20(1).png' %}"/>
                        </div>
                     {% endif %}
               
                <div class=" col-10  d-flex flex-column m-1" id="content-post">
                    <div class="col-12 w-100">
                        <h1 class=" border-black  border-bottom h1 py-2" id="intitule_mission">
                            {{ mission.intituler }}</h1>
                    </div>

                    <div class=" text-center  mx-auto w-100 col-12 " id="infos_mission">
                        <span class="col-3   prix "> <span
                                id="caution">Caution :</span> {{mission.fourcette_prix }}</span>
                        <span class="col-3 date "> Du <span class="bg date" id="date_debut">{{ mission.date_debut}}</span> au <span
                                class="date text-danger" id="date_fin">{{ mission.date_fin}}</span> </span>
                    </div>
                    <div></div>
                    <div class=" text-justify col-12  " id="description_mission">
                        <p class="description p-2" id="description ">
                            {{mission.description | truncatechars:300}}
                          </p>

                    </div>
                  
                  <div class="container-fluid">
                    <div class="row">
                    <div class="col-6 mx-auto">
                        <a href="{% url 'mespost_ep' mission.id %}">
                            <button class="btn btn-rounded btn-sm btn-success" style="font-size: 11px !important;">voir les post
                            </button>
                       </a>
                    </div>

                    <div class="col-6 mx-auto">
                        <button class="btn btn-rounded btn-sm btn-primary" style="font-size: 11px !important;">modier
                        </button>
                    </div>
                </div>
            </div>
        
                </div>
            </div>
            {% empty%}
            <p>
                vous avez pas encore poster de missions
            </p>
                {% endfor %}
 
{% endblock%}