{% extends "contents/parent.html" %}
{% block content%}
{% load static %}
<div class="col-12 mx-5 d-flex justify-content-between flex-row p-5">
    <div class="sidebar-module p-2  col-3">
        <!--            ceci un module c'est l'unité de base de notre site tous les elements sont des modules -->
        <div id="profil" class="module position-relative shadow-1-strong">
            <header class="header-module ">
               
                    {% if not info.logo %}
                        <div class="image-profil" > 
                            <img alt="" style="height: 60px !important; width: 60px !important;" class="rounded-circle article-img" src="{% static 'image/profil-avatar-homme-icone-rond.png' %}">
                               
                        </div>
                                    <small style="font-size: xx-small !important; padding-top: -25px !important;">
                                        <a href=""  style="font-size: xx-small !important; padding-top: -25px !important;">Editer</a>
                                    </small>
                              
                    {% else %}
                     <div class="image-profil "> 
                            <img  alt="" class="rounded-circle article-img" src="{{ info.logo.url }}">
                        </div>
                    {% endif %}
                   
                <div class="name_profil" style="padding-top: -10px;font-size: small !important;">
                    <h4>
                        <b>Nom:</b>
                        <span  id="prenom"> 
                        {{info.nom}}</span>
                    </h4>
                    <h4>
                        <b>username:</b>
                        <span  style="text-transform: capitalize"> {{ info.user.username }}</span>
                    </h4>
                </div>
            </header>
            <div class="content_module  container d-flex flex-column mx-auto  my-auto">
                <div class=" text col-12 " id="description">
                   <p id=""> 
                        <b>Ma presentation</b><br>
                      {{ info.description | truncatechars:50}}
                    </p> 
                    
                </div>
                <div class=" text col-12 " id="description">
                    <p id=""> 
                         <b>Dommaine d'expertige</b><br>
                               {{ info.domaine | truncatechars:120}}
                     </p> 
                     
                 </div>
                 
            </div>
            <footer class=" position-absolute bottom-0 footer_module">
                <img alt="" src= "{% static 'image/bande_module2.png' %}">
            </footer>
        </div>

        <br><br>


        <!--    c'est petit carre arrondit la c'est ca-->
        <div class="sidebar ">
            

            <div class="competence my-5  overflow-hidden position-relative list-group module shadow-0   ">
                <h1 class="head title p-2 border-bottom border-black h1">Mes Domaines</h1>
                <ul class=" p-3 py-3 d-flex flex-column justify-content-center list list-unstyled" id="domaine">
                    <li>
                        Web Design
                    </li>
                    <li>
                        Intelligence artificielle
                    </li>
                    <li>
                        Cyber Sécurité
                    </li>

                </ul>
                <footer class=" position-absolute bottom-0 footer_module">
                    <img alt="" src= " {% static 'bande_module2.png' %}">
                </footer>
            </div>

        </div>
        <!--        ceci est le contenu principale du c'est le main quoi alors tous les ressources seront chargées la bas-->

    </div>

<!--    c'est la que s'arrete le sidebar-->
    <div class="col-1"></div>
    <div class="container-fluid col-8  d-flex flex-column">
        <div class="module bg-light col-11 shadow" id="content-box"></div>
        <main class="main border-0 d-flex flex-column col-11 module p-3" style="box-shadow: none">
     
{% block content-ep %}

{% endblock  %}

</main>
</div>
</div>
<!-- Site footer -->

<script>
let prenom = document.querySelector('#prenom')
if (prenom.textContent.length > 11) {
var prenom1 = prenom.textContent.split(" ");
prenom1[1] = prenom1[1].charAt(0);
prenom1 = prenom1.join(" ") + ".";
}
prenom.innerHTML = prenom1;
let intitule_mission = document.querySelector('#intitule_mission')
let lettre = intitule_mission.textContent
intitule_mission.innerHTML = lettre.charAt(0).toUpperCase() + lettre.slice(1);


</script>
<!-- Footer -->


{% endblock%}