{% extends 'contents/parent.html' %}
{% block content %}
{% load static %}
    <article class="media content-section">
             <img class="rounded-circle article-img" src="media/{{ mission.logo }}" style="max-height:74px">
             <div class="media-body">
               <div class="article-metadata">
                 <a class="mr-2" href="#">{{ mission.domaine}}</a>
                 <small class="text-muted">{{mission.date_fin|date:"F d, Y" }}</small>
               </div>
               <h2><a class="article-title" href="">{{ mission.intituler}}</a></h2>
               <p class="article-content">{{ mission.outils }}</p>
             </div>
             {% if a_poster == True  %}
             <div class="col-6 mx-auto">
                 <button style="font-size: 12px !important;" class="btn btn-rounded btn-sm btn-success">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                         <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                     </svg>
                 </button> 
             </div>
         
         {% else %} 
             <div class="col-6 mx-auto">
                     <a style="color: aliceblue; " href="{% url 'postuler_it' mission.id %}">   <button style="font-size: 12px !important;" class="btn btn-rounded btn-sm btn-dark">Postuler </button> </a>
             </div>
         {% endif %} 

    </article>
{% endblock%}