{% extends "contents/parent.html" %}
{% block content%}
<br><br><br><br>
{% for mission_post in missions_post  %}
<div class="col-12 m-2 bg-white  mx-auto shadow-1-soft border d-flex flex-row rounded-6 border-1" id="post">
    <div class=" rounded-6 col-2 " id="logo-post">
        <img class="rounded-circle article-img" id="logo" src="media/{{ mission_post.mission.logo }}" style="max-height:74px">
    </div>
    <div class=" col-10  d-flex flex-column m-1" id="content-post">
        <div class="col-12 w-100">
            <h1 class=" border-black  border-bottom h1 py-2" id="intitule_mission"><li> {{ mission_post.mission.id}}</li>
                {{ mission_post.mission.intituler}}</h1>
        </div>

        <div class=" text-center  mx-auto w-100 col-12 " id="infos_mission">
            <span class="col-3   prix "> <span
                    id="caution">Caution :</span> {{ mission_post.mission.fourcette_prix }} </span>
            <span class="col-3 date "> Du <span class="bg date" id="date_debut"> 10 Aout</span> au <span
                    class="date text-danger" id="date_fin">21 Septembre</span> </span>
        </div>
        <div></div>
        <div class=" text-justify col-12  " id="description_mission">
            <p class="description p-2" id="description ">
                {{  mission_post.mission.description }}
            </p>

        </div>
        <div>
            <b>Postuler le:</b>{{mission_post.date_postula}} 
        </div>
        <div>
            <b>Prix indique:</b>{{mission_post.prix}} 
        </div>
        <div>
            <b>Description donner:</b>{{mission_post.description}} 
        </div>
        <div class="col-6 mx-auto">
             <button style="font-size: 12px !important;" class="btn btn-rounded btn-sm btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                  </svg>
            </button> 
        </div>
    </div>


</div>
<div>
    {}
</div>

{% endfor %}
<br><br><br>
{% endblock%}