.mediaViewInfo {
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__1 {
	position: absolute;
	width: 1920px;
	height: 4500px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 1;
	--web-view-id: Web_1920__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Rectangle_35 {
	fill: rgba(242,238,238,1);
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 893px;
	left: 0px;
	top: 189px;
}
#Rectangle_29 {
	fill: rgba(0,0,0,1);
}
.Rectangle_29 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 748px;
	left: 0px;
	top: 3752px;
}
#Rectangle_31 {
	fill: rgba(255,255,255,1);
}
.Rectangle_31 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 112px;
	left: 0px;
	top: 83px;
}
#Rectangle_30 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 83px;
	left: 0px;
	top: 0px;
}
img#header{
width: auto;
height: auto;
}
#motif_site_da {
	position: absolute;
	width: 520px;
	height: 83px;
	left: 520px;
	top: 0px;
	overflow: visible;
}
#motif_site_db {
	position: absolute;
	width: 520px;
	height: 83px;
	left: 1040px;
	top: 0px;
	overflow: visible;
}
#motif_site_dc {
	position: absolute;
	width: 520px;
	height: 83px;
	left: 1560px;
	top: 0px;
	overflow: visible;
}
#Capture_web_24-7-2021_203936_w {
	display: none;
	position: absolute;
	width: 1920px;
	height: 10274.5px;
	left: 0px;
	top: 198px;
	overflow: visible;
}
#Groupe_15_c {
	position: absolute;
	width: 190px;
	height: 50px;
	left: 1452px;
	top: 145px;
	overflow: visible;
}
#Rectangle_32_c {
	fill: rgba(255,255,255,1);
}
.Rectangle_32_c {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Groupe_32 {
	position: absolute;
	width: 207px;
	height: 45px;
	left: 1560px;
	top: 228px;
	overflow: visible;
}
#Rectangle_38 {
	fill: rgba(247,200,70,1);
}
.Rectangle_38 {
	position: absolute;
	overflow: visible;
	width: 207px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Connexion {
	left: 28px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(92,13,0,1);
}
#Groupe_18 {
	position: absolute;
	width: 108px;
	height: 41px;
	left: 150px;
	top: 232px;
	overflow: visible;
}
#Groupe_11_db {
	position: absolute;
	width: 108px;
	height: 41px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Ellipse_1_dc {
	fill: rgba(247,199,70,1);
}
.Ellipse_1_dc {
	position: absolute;
	overflow: visible;
	width: 35px;
	height: 35px;
	left: 73px;
	top: 3px;
}
#Find-iT_dd {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	color: rgba(92,13,0,1);
}
#Trouvez_des_Freelances_disponi {
	left: 569px;
	top: 335px;
	position: absolute;
	overflow: visible;
	width: 783px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 73px;
	color: rgba(92,13,0,1);
}
#Groupe_19 {
	position: absolute;
	width: 397px;
	height: 73px;
	left: 762px;
	top: 576px;
	overflow: visible;
}
#Rectangle_33 {
	fill: rgba(92,13,0,1);
}
.Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 397px;
	height: 73px;
	left: 0px;
	top: 0px;
}
#Recevoir_des_devis {
	left: 73px;
	top: 17px;
	position: absolute;
	overflow: visible;
	width: 251px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectangle_34 {
	fill: rgba(247,199,70,1);
}
.Rectangle_34 {
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 89px;
	left: 166px;
	top: 1108px;
}
#Rectangle_36 {
	fill: rgba(247,199,70,1);
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 89px;
	left: 710px;
	top: 1108px;
}
#Rectangle_37 {
	fill: rgba(247,199,70,1);
}
.Rectangle_37 {
	position: absolute;
	overflow: visible;
	width: 93px;
	height: 89px;
	left: 1245px;
	top: 1108px;
}
#Groupe_20 {
	position: absolute;
	width: 309px;
	height: 82px;
	left: 285.5px;
	top: 1119.5px;
	overflow: visible;
}
#Ligne_2_dm {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_2_dm {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_3_dn {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_3_dn {
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 7px;
	left: 0px;
	top: 82px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_4_do {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4_do {
	overflow: visible;
	position: absolute;
	width: 242.058px;
	height: 9px;
	left: 2px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_21 {
	position: absolute;
	width: 309px;
	height: 82px;
	left: 829.5px;
	top: 1119.5px;
	overflow: visible;
}
#Ligne_2_dq {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_2_dq {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_3_dr {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_3_dr {
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 7px;
	left: 0px;
	top: 82px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_4_ds {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4_ds {
	overflow: visible;
	position: absolute;
	width: 242.058px;
	height: 9px;
	left: 2px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_22 {
	position: absolute;
	width: 309px;
	height: 82px;
	left: 1364.5px;
	top: 1119.5px;
	overflow: visible;
}
#Ligne_2_du {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_2_du {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_3_dv {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_3_dv {
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 7px;
	left: 0px;
	top: 82px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_4_dw {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4_dw {
	overflow: visible;
	position: absolute;
	width: 242.058px;
	height: 9px;
	left: 2px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_33 {
	position: absolute;
	width: 492px;
	height: 448px;
	left: 79px;
	top: 1527px;
	overflow: visible;
}
#Rectangle_40 {
	fill: rgba(255,255,255,1);
	stroke: rgba(247,199,70,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_40 {
	filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 538px;
	left: 0px;
	top: 0px;
}
#Rectangle_41 {
	fill: rgba(255,255,255,1);
	stroke: rgba(247,199,70,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41 {
	filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 538px;
	left: 0px;
	top: 0px;
}
#Groupe_23 {
	position: absolute;
	width: 492px;
	height: 119px;
	left: 0px;
	top: 329px;
	overflow: visible;
}
#motif_site_d {
	position: absolute;
	width: 492px;
	height: 79px;
	left: 0px;
	top: 40px;
	overflow: visible;
}
#Rectangle_28_d {
	fill: rgba(255,255,255,1);
}
.Rectangle_28_d {
	filter: drop-shadow(0px 11px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 508px;
	height: 100px;
	left: 1px;
	top: 0px;
}
#Les_domaines {
	left: 144px;
	top: 1527px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Groupe_24 {
	position: absolute;
	width: 309px;
	height: 82px;
	left: 196.5px;
	top: 1634.5px;
	overflow: visible;
}
#Ligne_2_d {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_2_d {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_3_d {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_3_d {
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 7px;
	left: 0px;
	top: 82px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_4_d {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4_d {
	overflow: visible;
	position: absolute;
	width: 242.058px;
	height: 9px;
	left: 2px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_25 {
	position: absolute;
	width: 309px;
	height: 82px;
	left: 196.5px;
	top: 1754.5px;
	overflow: visible;
}
#Ligne_2_ea {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_2_ea {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_3_ea {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_3_ea {
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 7px;
	left: 0px;
	top: 82px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_4_eb {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4_eb {
	overflow: visible;
	position: absolute;
	width: 242.058px;
	height: 9px;
	left: 2px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_37 {
	position: absolute;
	width: 492px;
	height: 448px;
	left: 103px;
	top: 2082px;
	overflow: visible;
}
#Groupe_34 {
	position: absolute;
	width: 492px;
	height: 448px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_40_ee {
	fill: rgba(255,255,255,1);
	stroke: rgba(247,199,70,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_40_ee {
	filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 538px;
	left: 0px;
	top: 0px;
}
#Rectangle_41_ef {
	fill: rgba(255,255,255,1);
	stroke: rgba(247,199,70,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41_ef {
	filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 538px;
	left: 0px;
	top: 0px;
}
#Groupe_23_eg {
	position: absolute;
	width: 492px;
	height: 119px;
	left: 0px;
	top: 329px;
	overflow: visible;
}
#motif_site_eh {
	position: absolute;
	width: 492px;
	height: 79px;
	left: 0px;
	top: 40px;
	overflow: visible;
}
#Rectangle_28_ei {
	fill: rgba(255,255,255,1);
}
.Rectangle_28_ei {
	filter: drop-shadow(0px 11px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 508px;
	height: 100px;
	left: 1px;
	top: 0px;
}
#Groupe_35 {
	position: absolute;
	width: 309px;
	height: 82px;
	left: 93.5px;
	top: 117.5px;
	overflow: visible;
}
#Ligne_2_ek {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_2_ek {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_3_el {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_3_el {
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 7px;
	left: 0px;
	top: 82px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_4_em {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4_em {
	overflow: visible;
	position: absolute;
	width: 242.058px;
	height: 9px;
	left: 2px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Groupe_36 {
	position: absolute;
	width: 309px;
	height: 82px;
	left: 93.5px;
	top: 237.5px;
	overflow: visible;
}
#Ligne_2_eo {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_2_eo {
	overflow: visible;
	position: absolute;
	width: 309px;
	height: 7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_3_ep {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_3_ep {
	overflow: visible;
	position: absolute;
	width: 280px;
	height: 7px;
	left: 0px;
	top: 82px;
	transform: matrix(1,0,0,1,0,0);
}
#Ligne_4_eq {
	fill: transparent;
	stroke: rgba(229,229,229,1);
	stroke-width: 7px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ligne_4_eq {
	overflow: visible;
	position: absolute;
	width: 242.058px;
	height: 9px;
	left: 2px;
	top: 40px;
	transform: matrix(1,0,0,1,0,0);
}
#Module_2 {
	left: 140px;
	top: 2090px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_3_es {
	fill: rgba(255,255,255,1);
	stroke: rgba(247,199,70,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_es {
	filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1308px;
	height: 2202px;
	left: 623px;
	top: 1527px;
}